@model Shopping.ViewModels.LojaViewModel

@{
    ViewData["Title"] = "Loja: ";
}

<h1>Loja: @Model.Nome</h1>

<p>@Model.Descricao</p>
<p><strong>Id: </strong>@Model.Id</p>
<p><strong>Piso:</strong>@Model.Piso</p>
<p><strong>Email: </strong>@Model.Email</p>
<p><strong>Categoria: </strong>@Model.Categoria</p>